<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="summary" filename="summary.log" immediateFlush="true">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</File>
	</appenders>
	<loggers>
		<logger name="mymdp.dual" level="INFO">
			<appender-ref ref="summary" />
		</logger>
		<root level="INFO">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>