<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%msg%n" />
		</Console>
		<!-- Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
    	<RandomAccessFile name="summary" filename="summary.log" immediateFlush="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</RandomAccessFile>
	</appenders>
	<loggers>
		<asyncLogger name="mymdp.dual" level="INFO">
			<appender-ref ref="summary" />
		</asyncLogger>
		<asyncLogger name="mymdp.solver" level="INFO">
			<appender-ref ref="summary" />
		</asyncLogger>
		<asyncRoot level="INFO">
			<appender-ref ref="Console" />
		</asyncRoot>
	</loggers>
</configuration>